.yt-fa-icon {
    padding: @yt-gutter-xxs;
    background-color: @yt-color-white;
    
    &-delete:extend(.yt-fa-icon),
    &-delete--block:extend(.yt-fa-icon) {
        color: @yt-color-red;
    }
    
    &-edit:extend(.yt-fa-icon),
    &-edit--block:extend(.yt-fa-icon) {
        color: @yt-color-yellow;
    }
    
    //
    // Modifiers
    
    &-delete--block,
    &-edit--block {
        display: block;
        text-align: center;
    }
}