* {
    box-sizing: border-box;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: @yt-color-corn;
    color: @yt-color-black;
    font-family: 'Ubuntu', sans-serif;
}

.yt-main-container {
    min-height: 100%;
    padding-top: @yt-sticky-header-height;
    margin-bottom: -@yt-sticky-footer-height;
    
    @media (min-width: @screen-md-min) { 
        padding-top: @yt-sticky-header-height-md-up;
    }
    
    &:after {
        content: "";
        display: block;
        height: @yt-sticky-footer-height;
    }
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

a {
    color: @yt-color-black;
    text-decoration: none;
    border-bottom: 1px solid @yt-color-light-blue;
    
    &:hover {
        border-bottom-width: 2px;
    }
}