@fa-font-path: '@{lib-base-url}/font-awesome/fonts';

//
// Colors

@yt-color-red: #E96D63;
@yt-color-green: darken(#7FCA9F, 8%);
@yt-color-yellow: darken(#F4BA70, 5%);
@yt-color-corn: #ede0ce;
@yt-color-light-blue: #85C1F5;
@yt-color-dark-blue: #4A789C;
@yt-color-white: #FCFEFD;
@yt-color-black: #333;
@yt-color-grey: #ccc;
@yt-color-cyan: darken(spin(@yt-color-red, 180), 10%);
@yt-color-pink: spin(@yt-color-green, 180);
@yt-color-brown: spin(@yt-color-dark-blue, 180);


//
// Sticky header / footer -- height / body padding

@yt-sticky-header-height: 60px;
@yt-sticky-header-height-md-up: 100px;
@yt-sticky-footer-height: 40px;

//
// Z-index

@yt-z-index-1: 1;