<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png"/>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <title>Your Todos</title>
    <meta name="description" content="Your Todos">
    <link href='https://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700,300' rel='stylesheet' type='text/css'>
    <!-- inject:css -->
    <link rel="stylesheet" href="/bld/app.css">
    <!-- endinject -->
</head>

<body ng-app="main" ng-cloak="" ng-controller="main as mainCtrl">
    <header class="yt-header" data-header="">
        <h1 class="yt-header__logo">
            Your Todos
        </h1>
    </header>
    <div class="yt-main-container">
        <div class="container" yt-app-has-error="">
            <div class="row yt-site-section yt-cursor-pointer-xs contracted-xs" yt-section-contract-expand-xs="">
                <div class="visible-xs yt-text-center" yt-section-contract-expand-xs-click="">
                    <span class="fa fa-2x yt-fa-icon-expand-contract fa-chevron-down"></span>
                </div>
                <div class="col-md-8 center-block yt-float-none">
                    <yt-add-edit-todo todos="mainCtrl.todos"></yt-add-edit-todo>
                </div>
            </div>
            <div class="row yt-site-section--divide">
                <div class="col-md-8 center-block yt-float-none">
                    <yt-filter-todos todos-filter="mainCtrl.todosFilter"></yt-filter-todos>
                </div>
            </div>
            <div class="row yt-site-section">
                <div class="col-md-8 center-block yt-float-none">
                    <yt-todos todos="mainCtrl.todos" todos-filter="mainCtrl.todosFilter"></yt-todos>
                </div>
            </div>
        </div>
    </div>
    <footer class="yt-footer">
        <h3 class="yt-footer__byline">
            Henrik Mathiesen, 2016
        </h3>
    </footer>
    
    <yt-error-message></yt-error-message>
    
    <!-- Sniff viewport with JavaScript -->
    <div class="device-xs visible-xs"></div>
    <div class="device-sm visible-sm"></div>
    <div class="device-md visible-md"></div>
    <div class="device-lg visible-lg"></div>
    
    <!-- inject:js -->
    <script src="/bld/lib.js"></script>
    <script src="/bld/templates.js"></script>
    <script src="/bld/app.js"></script>
    <!-- endinject -->
</body>

</html>