<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO: fav icons -->
    <title>Your Todos</title>
    <meta name="description" content="Your Todos">
    <link rel="stylesheet" href="test.css">
  </head>
  <body>
    <h1>Your Todos</h1>
    
    <ul>
        <li>File structure</li>
        <li>Bootstrap (use partial according to notes)</li>
        <li>Think about less architecture according to input</li>
        <li>Gulp packages according to Angular Architecture project</li>
    </ul>
    
    <script src="test.js"></script>
  </body>
</html>