//
// Okey button

&-okey:extend(.yt-button),
&-okey--block:extend(.yt-button) {
    background-color: fade(@yt-color-green, 90%);
    &:hover {
        background-color: @yt-color-green;
        box-shadow: @yt-button-box-shadow;
    }
    
    //
    // State
    
    &.is-disabled,
    &.is-disabled:hover {
        background-color: @yt-color-grey;
        box-shadow: none;
        cursor: not-allowed!important;
    }
}

//
// Noway button

&-noway:extend(.yt-button),
&-noway--block:extend(.yt-button) {
    background-color: fade(@yt-color-red, 90%);
    &:hover {
        background-color: @yt-color-red;
        box-shadow: @yt-button-box-shadow;
    }
}

//
// Maybe button

&-maybe:extend(.yt-button),
&-maybe--block:extend(.yt-button) {
    background-color: fade(@yt-color-yellow, 90%);
    &:hover {
        background-color: @yt-color-yellow;
        box-shadow: @yt-button-box-shadow;
    }
}



//
// Modifiers

&-okey--block,
&-noway--block,
&-maybe--block {
    display: block;
    width: 100%;
}