//
// Work

&-work:extend(.yt-button),
&-work--block:extend(.yt-button) {
    background-color: fade(@yt-color-light-blue, 60%);
    &:hover {
        background-color: @yt-color-light-blue;
    }
    
    //
    // State

    &.is-active,
    &.is-active:hover {
        background-color: @yt-color-light-blue;
        border: @yt-button-is-active-border;
    }
}

//
// Recreation

&-recreation:extend(.yt-button),
&-recreation--block:extend(.yt-button) {
    background-color: fade(@yt-color-cyan, 50%);
    &:hover {
        background-color: @yt-color-cyan;
    }
    
    //
    // State

    &.is-active
    &.is-active:hover, {
        background-color: @yt-color-cyan;
        border: @yt-button-is-active-border;
    }
}

//
// Project

&-project:extend(.yt-button),
&-project--block:extend(.yt-button) {
    background-color: fade(@yt-color-pink, 60%);
    &:hover {
        background-color: @yt-color-pink;     
    }
    
    //
    // State

    &.is-active,
    &.is-active:hover {
        border: @yt-button-is-active-border;
        background-color: @yt-color-pink;
    }
}

//
// Modifiers

&-work--block,
&-recreation--block,
&-project--block {
    display: block;
    width: 100%;
}