@yt-button-height: 40px;

.yt-button {
    display: inline-block;
    
    padding-top: @yt-gutter-xs;
    padding-bottom: @yt-gutter-xs;
    padding-left: @yt-gutter-sm;
    padding-right: @yt-gutter-sm;
    
    height: @yt-button-height;
    line-height: @yt-button-height - @yt-gutter-xs * 2;
    
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: @yt-color-white;
    
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: 1px solid transparent;
    
    @import '_yt-button-action.less';
    @import '_yt-button-label.less';
}