@yt-button-box-shadow: 2px 1px 4px 0px rgba(50, 50, 50, 0.75);
@yt-button-is-active-border: 1px solid @yt-color-black;

.yt-button {
    display: inline-block;
    
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    
    height: 37px;
    
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: @yt-color-white;
    
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: 1px solid transparent;
    
    @import '_yt-button-action.less';
    @import '_yt-button-label.less';
}