.yt-main-container {
    min-height: 100%;
    padding-top: @yt-sticky-header-height;
    margin-bottom: -@yt-sticky-footer-height;
    
    @media (min-width: @screen-md-min) { 
        padding-top: @yt-sticky-header-height-md-up;
    }
    
    &:after {
        content: "";
        display: block;
        height: @yt-sticky-footer-height;
    }
}