.yt-main-container {
    min-height: 100%;
    padding-top: @yt-sticky-header-height + @yt-gutter-sm;
    padding-bottom: @yt-gutter-sm;
    margin-bottom: -@yt-sticky-footer-height;
    
    @media (min-width: @screen-md-min) { 
        padding-top: @yt-sticky-header-height-md-up + @yt-gutter-md;
        padding-bottom: @yt-gutter-md;
    }
    
    &:after {
        content: "";
        display: block;
        height: @yt-sticky-footer-height;
    }
}