<form novalidate name="ctrl.addEditTodoForm" ng-submit="ctrl.postTodo()">
    <div class="row">
        <div class="col-sm-8">
            <textarea ng-required="true" name="todoText" placeholder="What to do (all inputs required)" ng-model="ctrl.todo.text"></textarea>
        </div>
        <div class="col-sm-4">
            <input type="datetime-local" ng-required="true" name="todoDate" ng-model="ctrl.todo.date" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <span class="yt-button-work--block" 
                ng-class="{'is-active': ctrl.todo.label === 'work'}" 
                ng-click="ctrl.todo.label = 'work'">Work</span>
        </div>
        <div class="col-sm-2">
            <span class="yt-button-joy--block" 
                ng-class="{'is-active': ctrl.todo.label === 'joy'}" 
                ng-click="ctrl.todo.label = 'joy'">Joy</span>
        </div>
        <div class="col-sm-2">
            <span class="yt-button-project--block" 
                ng-class="{'is-active': ctrl.todo.label === 'project'}" 
                ng-click="ctrl.todo.label = 'project'">Project</span>
        </div>
        <div class="col-sm-3">
            <span class="yt-button-noway--block" ng-click="ctrl.setEmptyVm()">Noway</span>
        </div>
        <div class="col-sm-3">
            <button 
                ng-disabled="ctrl.addEditTodoForm.$invalid || !ctrl.todo.label"
                class="yt-button-okey--block"
                ng-class="{'is-disabled':  (ctrl.addEditTodoForm.$invalid || !ctrl.todo.label)}">Okey</button>
        </div>
    </div>
</form>